.skills {
    display: flex;
    flex-direction: column;
}

.skills .tools ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 1rem 0 0 1rem;
}

.skills .tools h3 {
    margin-left: 1rem;
}

.skills .tools ul li{
    margin-bottom: .5rem;
}

.skills .tools ul li img {
    width: 50px;
    height: 50px;
    margin-right: .5rem;
}

.skills .personal ul {
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.skills .personal h3 {
    margin: 1rem;
}

.skills .personal ul li {
    margin-right: 2rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px){
   .skills { 
        display: grid;
        grid-template-columns: 1fr 1fr;
   }
}